<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>

<style>
body {
    padding-top: 330px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Start Tracking Your Runs Today!</h1>
      <p>RunTrack is a website that allows you to keep track of your runs. You can enter when and where you ran, and how long you kept going. You can also view information about your runs over the last week or last month to see your overall progress.</p>

      <p>Start tracking your runs and living a healthier lifestyle now!</p>
    </div>
  </div>
</div>
